<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    인터넷 연결을 위한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
<!--    GPS를 사용한 위치 정보 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    네트워크를 통한 위치 정보 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<!--    http 방식으로 접속 가능하도록 android:usesCleartextTraffic="true" 속성 추가-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App0115"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="dd642b8e88630393b8e451d7571f2f5a"/>
    </application>

</manifest>